<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/header :: header('Create Job')"/>
<body>
<nav th:replace="partials/navbar :: navbar"/>
<main class="container">
    <form th:action="@{/jobs/create}" th:method="post">
        <h2>New Job</h2>
        <hr>
        <h4>Job Title:</h4>
        <input class="form-control" type="text" id="jobTitle" placeholder="Job Title" name="jobTitle">
        <h4>Job Time:</h4>
        <select class="form-select" name="scheduledTime">
            <option value="0" disabled>- none selected -</option>
            <option value="1">Morning(8am - 12pm)</option>
            <option value="2">Afternoon(1pm - 5pm)</option>
        </select>
        <h4>Job Date:</h4>
        <input type="date" name="scheduledDate">
<!--        <h4>Service Type:</h4>-->
<!--        <div class="form-check">-->
<!--            <input class="form-check-input" type="checkbox" value="" id="1">-->
<!--            <label class="form-check-label" for="1">-->
<!--                Mowing and Edging-->
<!--            </label>-->
<!--        </div>-->
<!--        <div class="form-check">-->
<!--            <input class="form-check-input" type="checkbox" value="" id="2">-->
<!--            <label class="form-check-label" for="2">-->
<!--                Fertilizing-->
<!--            </label>-->
<!--        </div>-->
<!--        <div class="form-check">-->
<!--            <input class="form-check-input" type="checkbox" value="" id="3">-->
<!--            <label class="form-check-label" for="3">-->
<!--                Trimming and Branch Removal-->
<!--            </label>-->
<!--        </div>-->
<!--        <div class="form-check">-->
<!--            <input class="form-check-input" type="checkbox" value="" id="4">-->
<!--            <label class="form-check-label" for="4">-->
<!--                Dethatching and Aeration Services-->
<!--            </label>-->
<!--        </div>-->
<!--        <div class="form-check">-->
<!--            <input class="form-check-input" type="checkbox" value="" id="5">-->
<!--            <label class="form-check-label" for="5">-->
<!--                Weed Control and Removal-->
<!--            </label>-->
<!--        </div>-->
<!--        <div class="form-check">-->
<!--            <input class="form-check-input" type="checkbox" value="" id="6">-->
<!--            <label class="form-check-label" for="6">-->
<!--                Reseeding and Sod Install-->
<!--            </label>-->
<!--        </div>-->
<!--        <div class="form-check">-->
<!--            <input class="form-check-input" type="checkbox" value="" id="7">-->
<!--            <label class="form-check-label" for="7">-->
<!--                Clean up and Hauling-->
<!--            </label>-->
<!--        </div>-->

        <label for="jobDetails">Additional details:</label>
        <textarea class="form-control" id="jobDetails" cols="15" rows="3" placeholder="e.g. fence door is unlocked; please cut grass at level 3; tree to trim located in backyard;" name="jobDetails"></textarea>



        <button type="submit" class="btn btn-primary">Done</button>

    </form>
</main>

</body>
</html>