<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="partials/head :: head('Admin Dashboard')"></head>
<body>
<nav th:replace="partials/navbar :: admin-navbar"></nav>

<main class="container">

    <header th:replace="partials/header :: header('Admin Dashboard')"></header>
    <div class="text-center">
        <h3>Please review incomplete jobs with their addresses below</h3>
    </div>

    <!-- The HTML element that serves as the Mapbox container -->
    <div id="map" class="mb-4"></div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script th:inline="javascript">
        "use strict";

        const URL = "/dashboard.json"
        const getLocations = fetch(URL)
            .then(response => response.json())
            .catch(console.error);


        function geocode(search, token) {
            var baseUrl = 'https://api.mapbox.com';
            var endPoint = '/geocoding/v5/mapbox.places/';
            return fetch(baseUrl + endPoint + encodeURIComponent(search) + '.json' + "?" + 'access_token=' + token)
                .then(function (res) {
                    return res.json();
                    // to get all the data from the request, comment out the following three lines...
                }).then(function (data) {
                    return data.features[0].center;
                });
        }

        //adding mapbox key from user controller @Value for mapbox api
        var mapBoxKey = [[${mapBoxKey}]]

        mapboxgl.accessToken = mapBoxKey;
        var map = new mapboxgl.Map({
            container: 'map', // container id
            style: 'mapbox://styles/mapbox/streets-v11', // style URL
            center: [-98.493629, 29.424122], // starting position [lng, lat]
            zoom: 9 // starting zoom
        });

        // Add zoom and rotation controls to the map.
        map.addControl(new mapboxgl.NavigationControl());

        //.then is looping our locations and returning readable address and .foreach adding pop up and marker for each address
        getLocations.then(data => {
            let arr = [];
            for (const job of data) {
                let userLocation = job.location.houseNumber + " " + job.location.street + " <br> " + job.location.city + ", " + job.location.state + " " + job.location.zipCode;
                let obj = {
                    address: userLocation,
                    id: job.id,
                    completion: job.isCompleted,
                };
                arr.push(obj);
            }

            arr.forEach(function (jobAddresses) {
                geocode(jobAddresses.address, mapBoxKey).then(function (result) {
                    map.setZoom(9);

                    //Linking to job that is according with addres inside of the popup
                    var locationPopup = new mapboxgl.Popup()
                        .setHTML(jobAddresses.address + "<br>" + "<a href=\"/admin/jobs/show/" + jobAddresses.id + "\">View Job</a>");


                    // Checking if job is completed according to that adding marker or removing it
                    if (!jobAddresses.completion) {
                        new mapboxgl.Marker({"color": "#72A603"})
                            .setLngLat(result)
                            .setPopup(locationPopup)
                            .addTo(map);
                    }
                });
            });
        });
    </script>
</main>

<footer th:replace="partials/footer :: footer"></footer>
<th:block th:replace="partials/scripts :: scripts"/>
</body>
</html>


