<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="partials/head :: head('Edit a Job Review')"/>
<body>
<div sec:authorize="isAuthenticated()">
    <nav th:replace="partials/navbar :: navbar"></nav>

    <div class="container">
        <div class="card register-card mb-3" style="height: 100%; width: 80%;">
            <div class="row d-flex">
                <div class="col">
                    <div class="card-body">
                        <header th:replace="partials/header :: header('Edit Job Review')"></header>
                        <form class="" th:action="@{'/reviews/' + ${job.id} + '/edit'}" th:method="POST" th:object="${job}"
                              enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="reviewTitle">Review Title</label>
                                <input type="text" name="reviewTitle" class="form-control" id="reviewTitle"
                                       th:field="*{reviewTitle}">
                            </div>
                            <div class="form-group mb-2">
                                <label for="reviewBody">Review Body</label>
                                <textarea class="form-control" name="reviewBody" id="reviewBody" rows="3"
                                          th:field="*{reviewBody}"></textarea>
                            </div>
                            <h5>Update image of the completed job:</h5>
                            <div class="form-group file-input">
                                <input type="file" class="form-control-file file" id="file" name="file">
                                <label for="file">Choose file</label>
                                <p class="file-name"></p>
                            </div>
                            <button type="submit" class="btn btn-primary edit-btn mt-2 mb-2">Save</button>
                            <input th:field="*{isCompleted}" name="isCompleted" hidden>
                            <input th:field="*{jobDetails}" name="jobDetails" hidden>
                            <input th:field="*{jobTitle}" name="jobTitle" hidden>
                            <input th:field="*{scheduledDate}" name="scheduledDate" hidden>
                            <input th:field="*{scheduledTime}" name="scheduledTime" hidden>
                            <input th:field="*{user}" name="user" hidden>
                            <input type="hidden" th:field="*{location}">
                            <input th:field="*{jobServices}" name="jobServices" hidden>
                            <a th:href="@{/dashboard}" class="btn btn-secondary">Cancel</a>
                        </form>

                        <th:block th:if="${job.reviewTitle != null}">
                            <form class="mt-2 delete-form" th:action="'/reviews/' + ${job.id} + '/delete'" th:method="POST" th:object="${job}">
                                <p name="reviewTitle" th:text="${job.reviewTitle}" hidden></p>
                                <p name="reviewBody" th:text="${job.reviewBody}" hidden></p>
                                <p name="isCompleted" th:text="${job.isCompleted}" hidden></p>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </th:block>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="partials/footer :: footer"></footer>
<th:block th:replace="partials/scripts :: scripts"/>
</body>
</html>