<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/header :: header('Dashboard')"/>
<body>

<thblock th:fragment="reviewModal">
    <!--Card starts Here for Job Review-->
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <p class="card-title"><strong>Job Title:</strong> <span name="jobTitle" th:text="${job.jobTitle}"></span>
            </p>
            <p class="card-text" name="jobDetails" th:text="${job.jobDetails}"></p>
            <hr>
            <p class="card-text"><strong>Scheduled Date:</strong> <span name="scheduledDate" th:text="${job.scheduledDate}"></span></p>
            <p class="card-text"><strong>Scheduled Time:</strong> <span name="scheduledTime" th:text="${job.scheduledTime}"></span></p>
            <hr th:if="${job.reviewTitle != null}">
            <p class="card-title" th:if="${job.reviewTitle != null}"><strong>Review Title: </strong><span name="reviewTitle" th:text="${job.reviewTitle}"></span></p>
            <p class="card-text" name="reviewBody" th:if="${job.reviewBody != null}" th:text="${job.reviewBody}"></p>
        </div>
        <!--Modal Starts here-->
        <!-- Button for trigger modal -->
        <div class="card-body">
            <button  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Create a Review
            </button>
        </div>
    </div>
    <!--Card ends Here-->
    <!-- Modal for Add Job Review -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title" id="staticBackdropLabel">Job Review</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!--Form starts here for a job review-->
                    <form th:action="@{/modals}" th:method="POST">
                        <div class="form-group">
                            <label for="reviewTitle">Review Title</label>
                            <input id="reviewTitle" class="form-control" name="reviewTitle">
                            <input type="hidden" name="jobId" th:value="${job.id}">
                        </div>
                        <!--Adding hidden values for all details for a job-->
                        <input type="hidden" class="card-title" name="jobTitle" th:value="${job.jobTitle}">
                        <input type="hidden" class="card-text" name="jobDetails" th:value="${job.jobDetails}">
                        <input type="hidden" class="card-text" name="scheduledDate" th:value="${job.scheduledDate}">
                        <input type="hidden" class="card-text" name="scheduledTime" th:value="${job.scheduledTime}">
                        <div class="form-group">
                            <label for="reviewBody">Review Body</label>
                            <textarea id="reviewBody" class="form-control" rows="3" name="reviewBody"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit Review</button>
                        </div>
                    </form>
                </div>
                <!--Form ends here for a job review-->
            </div>
        </div>
    </div>
    <!--Modal ends here-->
</thblock>

</body>
</html>