<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <!--    MOBILE VIEW ON LINES 6 & 7-->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    https://stackoverflow.com/questions/6771258/what-does-meta-http-equiv-x-ua-compatible-content-ie-edge-do-->
    <title th:text="${'GoGreen | ' + 'title'}"></title>
    <th:block th:replace="partials/styles :: styles"/>
</head>
<body>
<nav th:fragment="navbar">
    <div class="container">
        <a th:href="@{/}">
            Go Green
        </a>

        <div>
            <ul>
                <li>
                    <a class="nav-link" th:href="@{how-it-works}">How it Works</a>
                </li>
                <li>
                    <a class="nav-link" th:href="@{services}">Services</a>
                </li>
                <li>
                    <a class="nav-link" th:href="@{reviews}">Reviews</a>
                </li>
                <li>
                    <a class="nav-link" th:href="@{gallery}">Gallery</a>
                </li>
            </ul>
            <div>
                <div>
                    <form th:action="@{login}" th:method="get">
                        <input type="submit" value="Log In"/>
                    </form>
                </div>
            </div>

            <form th:action="@{register}" method="get">
                <input type="submit" value="Register"/>
            </form>

<!--            <form th:action="@{logout}" method="post">-->
<!--                <input type="submit" value="Log Out" />-->
<!--            </form>-->
        </div>
    </div>
</nav>
</body>
</html>