<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <!--    MOBILE VIEW ON LINES 6 & 7-->
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    https://stackoverflow.com/questions/6771258/what-does-meta-http-equiv-x-ua-compatible-content-ie-edge-do-->
    <title th:text="${'GoGreen | ' + 'title'}"></title>
    <th:block th:replace="partials/styles :: styles"/>
    <link rel="icon" href="img/go-green-icon.png">
</head>
<body>

<nav th:fragment="navbar" id="navbar" class="navbar navbar-expand-lg">
    <div class="nav-container">
        <a class="navbar-icon" th:href="@{/}"><img src="/img/go-green-icon.png" height="70" alt="Go Green Logo"></a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">

                <div class="nav-buttons" sec:authorize="!isAuthenticated()">
                    <ul class="navbar-ul">
                        <li class="navbar-list-item">
                            <a class="nav-link" th:href="@{how-it-works}">How it Works</a>
                        </li>
                        <li class="navbar-list-item">
                            <a class="nav-link" th:href="@{services}">Services</a>
                        </li>
                        <li class="navbar-list-item">
                            <a class="nav-link" th:href="@{reviews}">Reviews</a>
                        </li>
                        <li class="navbar-list-item">
                            <a class="nav-link" th:href="@{gallery}">Gallery</a>
                        </li>
                        <li>
                            <form th:action="@{login}" th:method="get">
                                <button class="btn-link btn" style="margin-top: 8px">Login</button>
                            </form>
                        </li>
                        <li>
                            <form th:action="@{register}" method="get">
                                <button class="btn-link btn" style="margin-top: 8px">Register</button>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="nav-buttons" sec:authorize="isAuthenticated()">
                    <ul>
                        <li class="navbar-list-item">
                            <a class="nav-link" th:href="@{how-it-works}">How it Works</a>
                        </li>
                        <li class="navbar-list-item">
                            <a class="nav-link" th:href="@{services}">Services</a>
                        </li>
                        <li class="navbar-list-item">
                            <a class="nav-link" th:href="@{reviews}">Reviews</a>
                        </li>
                        <li class="navbar-list-item">
                            <a class="nav-link" th:href="@{gallery}">Gallery</a>
                        </li>
                        <li>
                            <form th:action="@{logout}" method="post">
                                <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                            </form>
                        </li>

                        <li>
                            <form th:action="@{dashboard}" method="post">
                                <button class="btn-link btn" style="margin-top: 8px">Dashboard</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
</body>
</html>