<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <link rel="icon" href="img/go-green-icon.png">
</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="gogreen-logo" href="/">
            <i class="fab fa-pagelines fa-sm" style="color: var(--md-green)"></i>
            GoGreen
        </a>&nbsp&nbsp
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <ul class="navbar-nav me-auto mb-lg-0 text-center mt-2">
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link h5" th:href="@{/}">Home</a>
                </li>

                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link h5" th:href="@{/services}">Services</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="navbar-item">
                    <a class="nav-link h5" th:href="@{/about-us}">About Us</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="navbar-item">
                    <a class="nav-link h5" th:href="@{/dashboard}">Dashboard</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="navbar-item">
                    <a class="nav-link h5" th:href="@{/edit-user}">Profile-Settings</a>
                </li>
            </ul>
            <div class="d-flex ">
                <a sec:authorize="!isAuthenticated()" class="btn btn-warning view-btn mx-1" type="button" th:href="@{/login}">Login</a>
                &nbsp
                <a sec:authorize="!isAuthenticated()" class="btn btn-success edit-btn mx-1" type="button"
                   th:href="@{/register}">Register</a>
                <form sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="post">
                    <button class="btn btn-success edit-btn" type="submit">Logout</button>
                </form>
            </div>
        </div>
    </div>
</nav>


<nav th:fragment="admin-navbar" class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="gogreen-logo" href="/dashboard">
            <i class="fab fa-pagelines fa-sm" style="color: var(--md-green)"></i>
            GoGreen
        </a>&nbsp&nbsp
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo"
                aria-controls="navbarTogglerDemo" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo">

            <ul class="navbar-nav me-auto mb-lg-0 text-center mt-2">
                <li class="navbar-item">
                    <a class="nav-link h5" th:href="@{/dashboard}">Dashboard</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="navbar-item">
                    <a class="nav-link h5" th:href="@{/admin/users}">Users</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="navbar-item">
                    <a class="nav-link h5" th:href="@{/admin/jobs}">Jobs</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="navbar-item">
                    <a class="nav-link h5" th:href="@{/admin/reviews}">Reviews</a>
                </li>
            </ul>
            <div class="d-flex ">
                <a sec:authorize="!isAuthenticated()" class="btn btn-warning view-btn mx-1" type="button" th:href="@{/login}">Login</a>
                &nbsp
                <a sec:authorize="!isAuthenticated()" class="btn btn-success edit-btn mx-1" type="button"
                   th:href="@{/register}">Register</a>
                <form sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="post">
                    <button class="btn btn-success edit-btn" type="submit">Logout</button>
                </form>
            </div>
        </div>
    </div>
</nav>

</body>
</html>