<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head('All Jobs')"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">Job ID</th>
        <th scope="col">Job Title</th>
        <th scope="col">Job Details</th>
        <th scope="col">User</th>
        <th scope="col">Completed</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody th:each="job : ${jobs}">
    <tr>
        <th th:text="${job.id}"></th>
        <td th:text="${job.jobTitle}"></td>
        <td th:text="${job.jobDetails}"></td>
        <td th:text="${job.user.username}"></td>
        <td th:if="${job.isCompleted == true}">Yes</td>
        <td th:if="${job.isCompleted == false}">No</td>
        <td>
            <a th:href="'/admin/jobs/show/'+ ${job.id}" class="btn btn-warning"
               type="button">View Job</a>
        </td>
    </tr>
    </tbody>
</table>
<footer th:replace="partials/footer :: footer"></footer>
<th:block th:replace="partials/scripts :: scripts"/>
</body>
</html>