<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head('All Jobs')"></head>
<body>
<nav th:replace="partials/navbar :: admin-navbar"></nav>
<header th:replace="partials/header :: header('All Jobs')"></header>
<main class="container">
<table class="table table-hover table-responsive">
    <thead>
    <tr>
        <th scope="col"><strong>User</strong></th>
        <th scope="col"><strong>Job Title</strong></th>
        <th scope="col"><strong>Job Details</strong></th>
        <th scope="col"><strong>Job Status</strong></th>
        <th scope="col"><strong>Actions</strong></th>
    </tr>
    </thead>
    <tbody th:each="job : ${jobs}">
    <tr>
        <th scope="row" th:text="${job.user.username}"></th>
        <td th:text="${job.jobTitle}"></td>
        <td th:text="${job.jobDetails}"></td>
        <td th:if="${job.isCompleted == true}">Completed</td>
        <td th:if="${job.isCompleted == false}">Pending</td>
        <td>
            <a th:href="'/admin/jobs/show/'+ ${job.id}" class="btn btn-sm btn-warning view-btn"
               type="button">View</a>
            <a th:href="@{'/admin/jobs/edit/' + ${job.id}}" class="btn btn-sm btn-success edit-btn">Edit</a>
            <span>
            <form class="delete-form" th:action="@{'/admin/jobs/delete/' + ${job.id}}" th:method="POST">
                <button class="btn btn-sm btn-danger">Delete</button>
            </form>
                </span>
        </td>
    </tr>
    </tbody>
</table>
</main>
<footer th:replace="partials/footer :: footer"></footer>
<th:block th:replace="partials/scripts :: scripts"/>
</body>
</html>