<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head('Specific Job')"></head>
<body>
<nav th:replace="partials/navbar :: admin-navbar"></nav>
<header th:replace="partials/header :: header('Job Full Details')"></header>

<main class="container mb-1">
    <div class="row d-flex justify-content-center">
        <div class="card" style="width: 100vh; padding: 0">
            <th:block th:each="image : ${images}">
                <img th:if="${image.isReview == false}" th:src="${image.url}" class="card-img-top" alt="job-image" width="80" height="400">
            </th:block>
            <div class="card-body">
                <h4 class="card-title" th:text="${job.jobTitle}">Card title</h4>
                <p class="card-text"><strong>Details:</strong> <span th:text="${job.jobDetails}"></span></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Date: </strong><span th:text="${job.scheduledDate}"></span></li>
                <li class="list-group-item" th:if="${job.scheduledTime == 1}"><strong>Time: </strong><span>Morning(8am - 12pm)</span>
                </li>
                <li class="list-group-item" th:if="${job.scheduledTime == 2}"><strong>Time: </strong><span>Afternoon(1pm - 5pm)</span>
                </li>
                <li class="list-group-item"><strong>Location: </strong><span
                        th:text="${job.location.houseNumber + ' ' + job.location.street + ' ' + job.location.city + ' ' + job.location.state + ' ' + job.location.zipCode}"></span>
                </li>
                <li class="list-group-item"><strong>Service type: </strong><span th:each="service : ${services}"
                                                                                 th:text="${service.title} + ', '"></span>
                </li>
            </ul>
            <div class="card-body">
                <a th:href="@{/admin/jobs}" class="btn btn-secondary">Back</a>
                <a th:href="@{'/admin/jobs/edit/' + ${job.id}}" class="btn btn-success">Edit Job</a>
                <form th:action="@{'/admin/jobs/delete/' + ${job.id}}" th:method="POST">
                    <button class="btn btn-danger">Delete Job</button>
                </form>
                <th:block th:if="${job.isCompleted == false}">
                <form th:action="@{'/admin/jobs/complete/' + ${job.id}}" th:method="POST">
                    <button class="btn btn-success">Complete Job</button>
                </form>
                </th:block>
            </div>
        </div>
    </div>
</main>
<footer th:replace="partials/footer :: footer"></footer>
<script th:replace="partials/scripts :: scripts"></script>
</body>
</html>