<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head('Admin Show Individual User')"></head>
<body>
<nav th:replace="partials/navbar :: admin-navbar"></nav>
<header th:replace="partials/header :: header('User Details')"></header>

<main class="container mb-1">
    <div class="row d-flex justify-content-center">
        <div class="card" style="width: 100vh; padding: 0">
            <div class="card-body">
                <h4 class="card-title" th:text="${user.username}">Card title</h4>
                <p class="card-text"><strong>Details:</strong> <span th:text="${user.username}"></span></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Username: </strong><span th:text="${user.username}"></span></li>
                <li class="list-group-item"><strong>Email: </strong><span th:text="${user.email}"></span></li>
                <li class="list-group-item"><strong>Administrator Status: </strong><span th:text="${user.isAdmin}"></span></li>
            </ul>
            <div class="card-body">
                <a th:href="@{admin/users/index}" class="btn btn-secondary">Back</a>
                <a th:href="@{'/users/edit/' + ${user.id}}" class="btn btn-success">Edit User</a>
            </div>
        </div>
    </div>
</main>

<footer th:replace="partials/footer :: footer"></footer>
<th:block th:replace="partials/scripts :: scripts"/>
</body>
</html>