<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/header :: header('Edit User Information')"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<!--Edit Form where user can edit their information--> <!--To access user have used th:object${user}-->
<!--and we are using th:if's to show error messages if those entities are not unique-->
<div class="container-fluid">
    <h2>Edit personal information</h2>
    <form th:action="@{/edit-user}" th:method="POST" th:object="${user}">
        <div class="form-group">
            <label for="username">Username</label>
            <input id="username" class="form-control" name="username" th:field="*{username}">
            <p class="error-msg" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
            <small class="error-msg form-text text-muted" th:if="${username != null}" th:text="'Username already exists'"></small>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" class="form-control" name="email" th:field="*{email}">
            <p class="error-msg" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
            <small class="error-msg form-text text-muted" th:if="${email != null}" th:text="'Email already exists'"></small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" class="form-control" type="password" name="password" th:field="*{password}">
            <small class="form-text text-muted">Enter your password.</small>
        </div>
        <div class="form-group">
            <label for="confirm">Confirm Password</label>
            <input class="form-control" id="confirm" name="confirm" type="password">
            <small class="error-msg form-text text-muted" th:if="${#fields.hasErrors('password')}"
                   th:errors="*{password}"></small>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Edit</button>
    </form>
</div>

<th:block th:replace="partials/scripts :: scripts"/>
</body>
</html>