<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head('Login')"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<main class="container mb-1 pb-5">
    <div class="card login-card mb-3" style="height: 100%; width: 80%;">
        <div class="row d-flex">
            <div class="col">
                <div class="card-body">
                    <h1 class="text-center"><strong>Login</strong></h1>

                    <h6 class="text-center">Not a member?<br><a class="register-link"
                                                                th:href="@{/register}">Register</a></h6>

                    <form class="container p-1" th:action="@{/login}" method="POST">
                        <div class="error-msg" th:if="${param.error}">
                            Invalid Username and Password.
                            <!--    if a user fails to put correct username or password they will get this message-->
                        </div>
                        <div class="logout-msg" th:if="${param.logout}">
                            You have successfully logged out.   <!-- when a user logs out they will see this message -->
                        </div>

                        <div class="mb-3">
                            <input type="text" class="form-control" id="username" name="username"
                                   placeholder="Username">
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Password">
                        </div>
                        <div class="col-sm-12 row login-div">
                            <button type="submit" class="btn btn-primary edit-btn">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="partials/footer :: footer"></footer>
<script th:replace="partials/scripts :: scripts"></script>
</body>
</html>