<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head('Register')"/>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<main class="container mb-1 pb-5">
    <div class="card register-card mb-3" style="height: 100%; width: 80%;">
        <div class="row d-flex">
            <div class="col">
                <div class="card-body">
                    <h1 class="text-center"><strong>Register</strong></h1>

                    <h6 class="text-center h5">Already a member? <a class="login-link" th:href="@{/login}">Login</a></h6>

                    <form class="container p-1" th:action="@{/register}" method="POST" th:object="${user}">
                        <div class="mb-3">
                            <h5 class="error-msg" th:if="${username != null}"
                                th:text="'Username already exists'"></h5>
                            <input type="text" class="form-control" id="username" name="username" th:field="*{username}"
                                   placeholder="Username">
                            <p class="error-msg" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                        </div>
                        <div class="mb-3">
                            <h5 class="error-msg" th:if="${email != null}"
                               th:text="'Email already exists'"></h5>
                            <input type="email" class="form-control" id="email" name="email" th:field="*{email}"
                                   placeholder="Email">
                            <p class="error-msg" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                        </div>
                        <div class="mb-3">
                            <h5 class="error-msg" th:if="${#fields.hasErrors('password')}"
                                th:errors="*{password}"></h5>
                            <input type="password" class="form-control" id="password" name="password"
                                   th:field="*{password}" placeholder="Password">
                        </div>
                        <div class="mb-3">
                            <h5 class="error-msg" th:if="${#fields.hasErrors('password')}"
                                th:errors="*{password}"></h5>
                            <input type="password" class="form-control" id="confirm" name="confirm"
                                   placeholder="Confirm Password">
                        </div>
                        <div class="row col-sm-12 register-div">
                        <button type="submit" class="btn btn-primary edit-btn">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="partials/footer :: footer"></footer>
<script th:replace="partials/scripts :: scripts"></script>
</body>
</html>