<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/header :: header('Register')"/>
<body>

<main class="container">
    <form th:action="@{/register}" method="POST" th:object="${user}">
        <h1>Register</h1>
        <h6>Already registered?</h6>
        <br>
        <a th:href="@{/login}">Login</a>
        <div class="mb-3">
            <input type="text" class="form-control" id="username" name="username" th:field="*{username}" placeholder="Username">
            <p class="error-msg" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
            <small class="error-msg form-text text-muted" th:if="${username != null}" th:text="'Username already exists'"></small>
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" id="email" name="email" th:field="*{email}" placeholder="Email">
            <p class="error-msg" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
            <small class="error-msg form-text text-muted" th:if="${email != null}" th:text="'Email already exists'"></small>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="password" name="password" th:field="*{password}" placeholder="Password">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="confirm" name="confirm" placeholder="Confirm Password">
            <small class="error-msg form-text text-muted" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</main>
</body>
</html>