<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head('Error 500')"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container text-center">
    <h1 class="pt-5">Page Not Found</h1>
</div>

<div class="container text-center">
    <a class="btn btn-primary" href="/" type="button">Return Home</a>
</div>

<footer th:replace="partials/footer :: footer"></footer>

<th:block th:replace="partials/scripts :: scripts"/>
</body>
</html>