/*VARIABLES*/
/*------------------------------------------*/

:root{
    --font-family: 'Karla', sans-serif;


    /*APP COLORS*/
    --dark-green: #1B4001;
    --md-green: #467302;
    --green: #72A603;
    --bright-green: #84BF04;
    --yellow-green: #D2D911;
}

#customer-review-home {
    border-radius: 20px;
}

#map {
    width: 120vh;
    height: 70vh;
    border: var(--md-green);
    border-radius: 10px;
    margin: auto;
}


body {
    /*background-color: lightblue;*/
    font-family: var(--font-family);
}

.card-styling {
    min-height: 150px;
}

header {
    /*background-color: var(--md-green);*/
}

/* DASHBOARD STYLES */
/* ------------------------------------------------- */
#pending-job-card, #completed-job-card{
    max-width: 320px;
    background: rgba( 255, 255, 255, 0.90 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 20px;
    border: 1px solid var(--md-green);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    /*Mobile Responsive Centering of the cards in the card deck*/
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
#show-job-card {
    max-width: 55vh;
    background: rgba( 255, 255, 255, 0.90 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 20px;
    border: 1px solid var(--md-green);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    /*Mobile Responsive Centering of the cards in the card deck*/
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
.card-img-top {
    border-radius: 20px;
}
#pending-job-header, #completed-job-header {
    text-decoration: underline;
    color: var(--md-green);
}
#job-request-btn {
    background-color: var(--md-green);
    border: none;
}
#job-request-btn:hover {
    background-color: var(--yellow-green);
}
.view-btn {
    background-color: var(--yellow-green);
    border: none;
}
.view-btn:hover {
    background-color: var(--md-green);
}
.edit-btn {
    background-color: var(--md-green);
    border: none;
}
.edit-btn:hover {
    background-color: var(--yellow-green);
}
.delete-form {
    display: inline-block;
}
#job-divider {
    border: 5px solid var(--md-green);
    border-radius: 5px;
    opacity: 1;
}
.service-divider {
    width: 60%;
    border: 5px solid var(--md-green);
    border-radius: 5px;
    opacity: 1;
    margin: auto auto 1rem;
}
/* ------------------------------------------------- */
/* END OF DASHBOARD STYLING */


/* REGISTER/LOGIN PAGE STYLE */
/* ------------------------------------------------- */

.register-card, .login-card {
    border: 1px solid var(--md-green);
    border-radius: 20px;
    background: rgba( 255, 255, 255, 0.90 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    float: none;
    margin: 2rem auto 10px;
}
.login-link, .register-link {
    color: var(--md-green);
}
.login-link:hover, .register-link:hover {
    color: var(--yellow-green);
}
.error-msg {
    color: firebrick;
}
.login-div, .register-div {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}
.logout-msg {
    color: var(--md-green);
}


/* END OF REGISTER/LOGIN PAGE STYLE */
/* ------------------------------------------------- */


.gogreen-logo {
    text-decoration: none;
    font-family: 'Satisfy', cursive;
    color: #1B4001;
    font-size: xx-large;
}

.gogreen-logo:hover {
    color: var(--green);
}



li > a.nav-link {
color: black
}


li > a.nav-link:hover {
    color: var(--green);
}


jumbotron {

}

.nav-container {

}

/* ABOUT US PAGE */
.about-us-img {
    margin-top: 20px;
    border-radius: 50%;
    max-width: 50%;
    max-height: 50%;
}

.about-us-pg-icons {
    font-size: 2em;
    margin: 10px;
    color: black;
}

.about-us-card {
    max-width: 320px;

    background: rgba( 255, 255, 255, 0.90 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    /*Mobile Responsive Centering of the cards in the card deck*/
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.about-us-hr {
    width: 30%;
}

.about-us-quote {
    font-weight: 300;
}

.about-us-card-footer {
    background: none;
    border: none;
}

/* FOOTER STYLING */
/*------------------------------------------------------------------------------------*/
.footer-style {
    width: 100vw;
    background: #ffc107;
}

.footer-link a {
    color: green;
    padding-bottom: 10px;
    font-size: 2em;
}

.footer-links {
    padding: 0;
    margin: 0;
}

.footer-label {
    text-align: center;
    align-content: center;
    height: 2rem;
}

.text-center{
    padding: 10px;
}

.img-container {
    text-align: center;
}
/*MEDIA QUERIES*/

/* Breakpoints
   Breakpoints are what we refer to as major resolution changes, which you specify with media queries,
   usually based on popular device configurations. They are called breakpoints because traditionally major layout elements
   are broken and repositioned, though not always the case, and the name stuck.
   You can determine whatever breakpoint px size you want, but you can find plenty of resources online to find the most
    frequently used breakpoints.
*/

/* Small devices (phones and pocket devices, 576 and up) */
 @media screen and (min-width:576px) {
     #map {
         width: 70vh;
         height: 50vh;
     }
 }

/* Medium devices (tablets, 768px and up) */
 @media screen and (min-width:768px) {
     #map {
         width: 90vh;
         height: 70vh;
     }
 }

/* Large devices (desktops, 992px and up) */
 @media screen and (min-width:992px) {
     #map {
         width: 110vh;
         height: 60vh;
     }
 }

/* Extra large devices (large desktops, 1200px and up) */
 @media screen and (min-width:1200px) {
     #map {
         width: 120vh;
         height: 70vh;
     }
 }