<!DOCTYPE html>
<html id="about_us.html" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head('About Us')">
<body class="background-img">
<nav th:replace="partials/navbar :: navbar"></nav>
<header th:replace="partials/header :: header('About the Creators')"></header>
<hr class="service-divider">

<main class="container justify-content-center text-center flex-fill">
  <div class="mt-3 mb-3 mt-md-2 mb-md-4 mt-lg-2 mb-lg-4 mt-xl-2 tb-xl-5">
    <div class="text-center">
      <h1 id="meet-the-team-header" class="mb-2">Meet the Developers</h1>
    </div>
  </div>


  <div class="row container about-us-card-container">

    <div class="row card-deck about-us-card-deck mb-3">

      <div class="card about-us-card mb-4">
        <img src="/img/Carlos-Padilla.jpeg" alt="Carlos Padilla" class="card-img-top about-us-img mx-auto">
        <div class="card-body about-us-card-body">
          <h5 class="card-title developer-names">Carlos Padilla</h5>

          <hr class="mx-auto about-us-hr">

          <p class="about-us-quote">
            <em>“Dedication sees dreams come true.”
              <br><br>– Kobe Bryant
            </em>
          </p>
        </div>

        <div class="card-footer about-us-card-footer">
          <a href="https://github.com/carlospadilla91" target="_blank" class="about-us-pg-icons"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/carlospadilla91/" target="_blank" class="about-us-pg-icons"><i class="fab fa-linkedin"></i></a>
          <a href="https://alumni.codeup.com/students/1192" target="_blank" class="about-us-pg-icons"><i class="fas fa-laptop-code"></i></a>
        </div>
      </div>

      <div class="row card about-us-card mb-4">
        <img src="/img/Yasin-Mogultay.jpeg" alt="Yasin Mogultay" class="card-img-top about-us-img mx-auto">
        <div class="card-body">
          <h5 class="card-title developer-names">Yasin Mogultay</h5>

          <hr class="mx-auto about-us-hr">

          <p class="about-us-quote">
            <em>"There are no secrets to success. It is the result of preparation, hard work, and learning from failure."
              <br><br>- Colin Powell
            </em>
          </p>
        </div>

        <div class="card-footer about-us-card-footer">
          <a href="https://github.com/YasinMogultay" target="_blank" class="about-us-pg-icons"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/yasinmogultay/" target="_blank" class="about-us-pg-icons"><i class="fab fa-linkedin"></i></a>
          <a href="https://alumni.codeup.com/students/1189" target="_blank" class="about-us-pg-icons"><i class="fas fa-laptop-code"></i></a>
        </div>
      </div>

      <div class="row card about-us-card mb-4">
        <img src="/img/Colin-Warner.jpg" alt="Colin Warner" class="card-img-top about-us-img mx-auto">
        <div class="card-body">
          <h5 class="card-title developer-names">Colin Warner</h5>

          <hr class="mx-auto about-us-hr">

          <p class="about-us-quote">
            <em>"Do the best you can until you know better. Then when you know better, do better."
              <br><br>- Maya Angelou
            </em>
          </p>
        </div>

        <div class="card-footer about-us-card-footer">
          <a href="https://github.com/colinxwarner" target="_blank" class="about-us-pg-icons"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/colinxwarner" target="_blank" class="about-us-pg-icons"><i class="fab fa-linkedin"></i></a>
          <a href="https://alumni.codeup.com/students/1187" target="_blank" class="about-us-pg-icons"><i class="fas fa-laptop-code"></i></a>
        </div>
      </div>

    </div>
  </div>
</main>
<footer th:replace="partials/footer :: footer"></footer>
<script th:replace="partials/scripts :: scripts"></script>
</body>
</html>