<!DOCTYPE html>
<html id="services.html" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head('Gopher')">
</head>
<nav th:replace="partials/navbar :: navbar"></nav>
<header th:replace="partials/header :: header('Gopher')"></header>
<body>
<div class="img-container">
  <img src="/img/GoGreenGopher.gif" height="300" width="300" alt="Go Green Mascot">
</div>
<footer th:replace="partials/footer :: footer"></footer>
<script th:replace="partials/scripts :: scripts"></script>
</body>
</html>