<!DOCTYPE html>
<html id="services.html" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head('Home')">
    <meta charset="UTF-8">
    <!--    MOBILE VIEW ON LINES 6 & 7-->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    https://stackoverflow.com/questions/6771258/what-does-meta-http-equiv-x-ua-compatible-content-ie-edge-do-->
    <title th:text="${'GoGreen | ' + 'title'}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="static/css/main.css" rel="stylesheet"/>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
    <h1>GO GREEN HOME PAGE</h1>

    <h1>DISPLAY REVIEWS FROM ReviewRepository</h1>

    <h1>FOOTER WITH about_us.html LINK</h1>
</body>
</html>