<!DOCTYPE html>
<html id="how-it-works-html" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: header('How It Works')">
    <meta charset="UTF-8">
    <title>How it Works</title>
</head>
<body id="how-it-works-body">
<!--HEADER WITH NAVBAR-->
<div class="jumbotron home-jumbotron header">
  <nav th:replace="partials/navbar :: navbar"></nav>

  <div>
    <h1>How it Works Page</h1>
    <div class="container">
      <h1>GoGreen.works</h1>
      <p>We Work for You!</p>
      <div>
        <h1>Description of user CRUD to arrange yard work from services, schedule date/time, and review work.</h1>
      </div>
      <div>
        <h1>If you like this, AND YOU DO MORTAL, then register below</h1>
        <a th:href="@{/register}" role="button">Register</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>