<!DOCTYPE html>
<html id="reviews.html" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Reviews')">
    <meta charset="UTF-8">
    <!--    MOBILE VIEW ON LINES 6 & 7-->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    https://stackoverflow.com/questions/6771258/what-does-meta-http-equiv-x-ua-compatible-content-ie-edge-do-->
    <title th:text="${'GoGreen | ' + 'title'}"></title>
    <th:block th:replace="partials/styles :: styles"/>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<header th:replace="partials/header :: header('Go Green Reviews Page')"></header>

<h1>Display all reviews? Hard code initially or retrieve data?</h1>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>