<!DOCTYPE html>
<html id="services.html" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head('Services')">
</head>
    <nav th:replace="partials/navbar :: navbar"></nav>
    <header th:replace="partials/header :: header('Our Services')"></header>

<main class="container">
    <ol class="list-group list-group-numbered">
        <li class="list-group-item">Mowing and Edging</li>
        <li class="list-group-item">Trimming and Branch Removal</li>
        <li class="list-group-item">Dethatching and Aeration Services</li>
        <li class="list-group-item">Weed Control and Removal</li>
        <li class="list-group-item">Reseeding and Sod Install</li>
        <li class="list-group-item">Junk Removal</li>
    </ol>
</main>
<footer th:replace="partials/footer :: footer"></footer>
<script th:replace="partials/scripts :: scripts"></script>
</body>
</html>