<!DOCTYPE html>
<html id="services.html" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head('Services')">
    <meta charset="UTF-8">
    <!--    MOBILE VIEW ON LINES 6 & 7-->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    https://stackoverflow.com/questions/6771258/what-does-meta-http-equiv-x-ua-compatible-content-ie-edge-do-->
    <title th:text="${'GoGreen | ' + 'title'}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="static/css/main.css" rel="stylesheet"/>
</head>
<div>
    <nav th:replace="partials/navbar :: navbar"></nav>
    <h1>SERVICES PAGE</h1>
</div>
    <ol>
        <li>Mowing and Edging</li>
        <li>Trimming and Branch Removal</li>
        <li>Dethatching and Aeration Services</li>
        <li>Weed Control and Removal</li>
        <li>Reseeding and Sod Install</li>
        <li>Ancient Magic to Summon the Tree Spirits to Reap Vengance Upon Your Foes</li>
        <li>Junk Removal</li>
    </ol>
</body>
</html>