<!DOCTYPE html>
<html id="services.html" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head('Services')">
</head>
<div>
    <nav th:replace="partials/navbar :: navbar"></nav>
    <header th:replace="partials/header :: header('Go Green Services Page')"></header>
</div>
    <ol>
        <li>Mowing and Edging</li>
        <li>Trimming and Branch Removal</li>
        <li>Dethatching and Aeration Services</li>
        <li>Weed Control and Removal</li>
        <li>Reseeding and Sod Install</li>
        <li>Ancient Magic to Summon the Tree Spirits to Reap Vengance Upon Your Foes</li>
        <li>Junk Removal</li>
    </ol>
<footer th:replace="partials/footer :: footer"></footer>
<script th:replace="partials/scripts :: scripts"></script>
</body>
</html>