<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head('Admin Job Reviews')"></head>
<body>
<nav th:replace="partials/navbar :: admin-navbar"></nav>

<header th:replace="partials/header :: header('All Reviews')"></header>
<main class="container">
    <table class="table table-responsive table-hover">
        <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">Job Title</th>
            <th scope="col">Review Title</th>
            <th scope="col">Review Body</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody th:each="job : ${jobs}">
        <tr th:if="${job.reviewTitle != null}">
            <th th:text="${job.user.getUsername()}"></th>
            <th th:text="${job.jobTitle}"></th>
            <td th:text="${job.reviewTitle}"></td>
            <td th:text="${job.reviewBody}"></td>
            <td>
                <form class="mt-2" th:action="'/admin/reviews/delete/'+ ${job.id}" th:method="POST">
                    <p class="card-title" name="reviewTitle" th:text="${job.reviewTitle}" hidden></p>
                    <p class="card-title" name="reviewBody" th:text="${job.reviewBody}" hidden></p>
                    <h5 th:text="${job.isCompleted}" name="isCompleted" hidden></h5>
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</main>
<footer th:replace="partials/footer :: footer"></footer>
<th:block th:replace="partials/scripts :: scripts"/>
<th:block th:replace="partials/scripts :: delete-script"/>

</body>
</html>